@font-face {
    font-family: 'Constantia Bold';
    src: url('../fonts/constantia/constanb.ttf') format('truetype');
}

body {
    background-image: url("../img/background-min.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fadabd;
    font-family: 'Constantia Bold', 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

/* MAIN */

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 4;
}

.logo {
    max-width: 100%;
    height: auto;
}

.logo-container {
    width: 50%;
}

/* FOOTER */

.footer {
    font-size: 0.75em;
    flex-grow: 1;
}

.footer-items-container {
    border-top: #fadabd solid 0.1em;
    padding-top: 2.2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-item {
    padding: 0 1em;
    border-right: #fadabd solid 0.1em;
}

.footer-item:last-child {
    border-right: none;
}

.footer-item a {
    color: #fadabd;
    text-decoration: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .logo-container {
        width: 60%;
    }

    .footer {
        font-size: 0.65em;
    }
}

@media screen and (max-width: 568px) {
    .logo-container {
        width: 70%;
    }
}

@media screen and (max-width: 425px) {
    .logo-container {
        width: 80%;
    }

    .footer-items-container {
        flex-direction: column;
    }

    .footer-item {
        padding: 1em 0;
        border-right: none;
    }
}

@media screen and (max-width: 375px) {
    .logo-container {
        width: 90%;
    }
}

@media screen and (max-width: 320px) {
    .logo-container {
        width: 100%;
    }
}